{% extends "base.html" %}
{% block title %}Описание{% endblock %}

<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

{% block information %}
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Описание</h1>
    <p class="lead">Приложение по генерации новых словосочетаний, которые потнециально 
                    могут быть сложены во что-то что мог бы написать Байрон. Принцип работы
                    построен на основе "Цепей Маркова".<br><br>
                    
                     Достаточно часто сгенерированые стихи совершенно не будут похожи
                     даже на что-то что мог бы написать рациональный человек. Это 
                     связано с тем, что генерация новых словосочитаний, используя метод 
                     "Цепей Маркова", является частично случайной и создание новых
                     слова в последовательности зависит от того, какие слова использовались
                     ранее. 
                     
                     Например: при параметре "порядка" равным 2, первые два слова стиха
                     выбираются абсолютно случайно из всех возможных комбинаций слов, 
                     которые когда-либо присутствовали в работах поэта. Далее, алгоритм
                     берёт случайно выбранные ранее слова, и создаёт список всех
                     комбинаций в которых использовались именно 2 предыдущих слова
                     и оценивает какое слово может идти за ними. Например, если первые
                     два слова были "я" и "хочу", то третим могут быть такие слова как 
                     "быть", "увидеть", "понять" и т.д. Тогда, алгоритм случайным образом
                     выбирает одну из этих комбинации и третье слово из неё добовляет
                     в генерируемую поэму, например "быть". Далее процесс повторяется, 
                     только теперь алгоритм оценивает все комбинации слов, которые 
                     имеют последовательность "хочу быть". Увеличивая параметр "порядка",
                     алгоритм будет оценивать комбинацию уже не двух слов а более.
                     
                     Качество новых генераций растёт, когда объём информации велик.
                     В таких случаях выбор различных словосочитаний становится больше.
                     Параметр "порядка" можно увеличивать, что должно вести к созданию
                     более похожей человеческой речи в письме. К сожалению у данного 
                     поэта только 113 поэм и многие из них переведены разными 
                     писателями, а это значит что стилистика не постоянна и потму
                     количество существующих комбинации уменьшается. Малый объём информации так же
                     означает, что увеличивать переменную "порядка" это проблематично, 
                     так как в таком случаи количество существующих комбинации будет
                     мало, и алгоритм будет генерировать уже существующие стихи, ибо
                     только в них может присутствовать та комбинация слов, которую 
                     алгоритм нашёл. Но даже при всём этом, алгоритм польностью игнорирует
                     наличае знаков припинаний в работах поэта, поэтому они добавлены на 
                     основе нескольких правил и могут быть совершенно не подходящими
                     для реального использования.
                     <br><br>
                     
                     Нам самом деле - использование такой методологии это только 
                     концепция. Восоздание настоящей человеческой речи, при том и 
                     в поэзии и с определёной стилистикой - это очень не лёгкое задание для машин.
                     Цель этого проекта была создать в Python 3 алгоритм который может собрать
                     определёную информацию из интернета, обработать её, и потом использую
                     "Цепи Маркова" произвести что-то новое. После чего, создать 
                     рабочую среду для пользователя, который мог бы взаимодействовать
                     с созданым кодам, при условии, что вся эта среда сделана использую
                     ресуры Bootstrap. Проект сделан только ради образования,
                     и не будет использоваться в комерческих целях. Так же, база
                     данных со стихами Байрона была обработана, таким образом, что
                     стихи потеряли структуру, и любые знаки припенания. Таким образом,
                     для других целей помимо этого проекта они не могут быть использованы
                     практический и не ничего не забирают от оригинального источника.            
                    </p>
  </div>
</div>
{% endblock %}

{% block content %}
<div class="row row-cols-1 row-cols-md-3">
  <div class="col mb-4">
    <div class="card h-100">
      <img src="static/images/Byron.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Стихи</h5>
        <p class="card-text">Стихи для генерации новых словосочетаний взяты с платформы РуСтих.</p>
        <a href="https://rustih.ru/dzhordzh-bajron/" target="popup" class="btn btn-primary">Ресурс</a>
      </div>
    </div>
  </div>
  
  <div class="col mb-4">
    <div class="card h-100">
      <img src="static/images/flask.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Платформа</h5>
        <p class="card-text">Основа вебсайта и генератор словосочетаний построен использая Python 3 и Flask.</p>
        <a href="https://flask.palletsprojects.com/en/1.1.x/" target="popup" class="btn btn-primary">Ресурс</a>
      </div>
    </div>
  </div>
  
  <div class="col mb-4">
    <div class="card h-100">
      <img src="static/images/Bootstrap.png" class="card-img-top" alt="Bootstrap">
      <div class="card-body">
        <h5 class="card-title">Дизайн</h5>
        <p class="card-text">Дизайн построен полностью на элементах поддерживаемых Bootstrap-ом.</p>
        <a href="https://getbootstrap.com" target="popup" class="btn btn-primary">Ресурс</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}